# **SUPERMERCADO DATABASE structure.**

## **Importar librerías.**

In [1]:
import pandas as pd

## **Cargar datos.**

In [2]:
categorias = pd.read_csv('../data/categorias_fyv.csv')
subcategorias = pd.read_csv('../data/subcategorias_fyv.csv')
productos = pd.read_csv('../data/productos_fyv.csv')

## **Generar estructura.**

### **Secciones.**

In [3]:
# crear tabla "Secciones" con "Fruta y Verdura" como sección
secciones = pd.DataFrame({'seccion_id' : ['1'], 'seccion' : ['Fruta y Verdura']})

secciones

  seccion_id          seccion
0          1  Fruta y Verdura

### **Categorías.**

In [4]:
# insertar columna de IDs llamada "seccion_id", para realizar la correspondiente relación en la base de datos como "FOREIGN KEYS"
categorias.insert(len(categorias.columns), 'seccion_id', 1)

categorias

   categoria_id                     categoria  seccion_id
0             1                         Fruta           1
1             2  Lechuga y ensalada preparada           1
2             3                       Verdura           1

### **Subcategorías.**

In [5]:
# insertar columna de IDs llamada "seccion_id", para realizar la correspondiente relación en la base de datos como "FOREIGN KEYS"
subcategorias.insert(len(subcategorias.columns), 'seccion_id', 1)

subcategorias

    subcategoria_id                 subcategoria  categoria_id  seccion_id
0                 1                Plátano y uva             1           1
1                 2               Manzana y pera             1           1
2                 3               Melón y sandía             1           1
3                 4                     Cítricos             1           1
4                 5               Fruta tropical             1           1
5                 6                 Otras frutas             1           1
6                 7                      Lechuga             2           1
7                 8           Ensalada preparada             2           1
8                 9                       Patata             3           1
9                10                Cebolla y ajo             3           1
10               11                       Tomate             3           1
11               12           Pepino y zanahoria             3           1
12               13         Calabacín y pimiento             3           1
13               14                Repollo y col             3           1
14               15          Setas y champiñones             3           1
15               16           Hierbas aromáticas             3           1
16               17  Otras verduras y hortalizas             3           1
17               18            Verduras al vapor             3           1

### **Productos.**

In [6]:
# insertar columna de IDs llamada "seccion_id", para realizar la correspondiente relación en la base de datos como "FOREIGN KEYS"
productos.insert(len(productos.columns), 'seccion_id', 1)

productos

,producto_id,producto,formato,precio,subcategoria_id,categoria_id,seccion_id
0,1,Plátano de Canarias,Pieza 160 g aprox.,0.30,1,1,1
1,2,Banana,Pieza 170 g aprox.,0.25,1,1,1
2,3,Plátano macho,Pieza 340 g aprox.,0.95,1,1,1
3,4,Uva blanca sin semillas,Bandeja 500 g aprox.,2.45,1,1,1
4,5,Uva roja sin semillas,Bandeja 500 g aprox.,2.40,1,1,1
...,...,...,...,...,...,...,...
171,172,Mix de verduras paisana para micro,Paquete 300 g,1.80,18,3,1
172,173,Sopa juliana para micro,Paquete 400 g,1.35,18,3,1
173,174,Patata para micro,Paquete 400 g,1.30,18,3,1
174,175,Batata para micro,Paquete 400 g,2.40,18,3,1
175,176,Mix de verduras jardinera para micro,Paquete 400 g,1.90,18,3,1

### **Ventas.**

In [10]:
# crear tabla "ventas", con columnas "venta_id", "fecha", "seccion_id"
ventas = pd.DataFrame(columns=['venta_id', 'fecha', 'dia_semana', 'seccion_id'])

ventas

Empty DataFrame
Columns: [venta_id, fecha, dia_semana, seccion_id]
Index: []

### **Ventas-Productos.**

In [8]:
# crear tabla "ventas_productos", con columnas "venta_id", "producto_id", "cantidad"
ventas_productos = pd.DataFrame(columns=['venta_id', 'producto_id', 'cantidad'])

ventas_productos

Empty DataFrame
Columns: [venta_id, producto_id, cantidad]
Index: []

## **Exportar tablas.**

In [11]:
# exportar tablas transformadas a ".csv"
secciones.to_csv('../data/secciones_fyv.csv', index=False)

categorias.to_csv('../data/categorias_fyv.csv', index=False)

subcategorias.to_csv('../data/subcategorias_fyv.csv', index=False)

productos.to_csv('../data/productos_fyv.csv', index=False)

ventas.to_csv('../data/ventas_fyv.csv', index=False)

ventas_productos.to_csv('../data/ventas_productos_fyv.csv', index=False)